@model Library.Features.BookCatalog.DomainModel.Book

<div class="col-12 mb-4 mt-4">
    <h1>@Model.Title</h1>
</div>
<section class="mt-4 row ">
    <div class="col-4 mb-4 ">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top " src="@Model.Cover" alt="Capa do livro:@Model.Title" style="width: 320px;">
    </div>
    </div>
    <div class="col-4 mb-4 ">
        <div class="card" style="width: 20rem;">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Autor: @Model.Author</li>
            <li class="list-group-item">ISBN: @Model.Isbn</li>
            <li class="list-group-item">Assunto: @Model.Subject</li>
            </ul>
        </div>
        <div class="mt-5 ">
            <form asp-action="Post" asp-controller="Reservations">
                <input type="hidden" name="AcademicRecord" value="1600041" />
                <input type="hidden" name="Isbn" value="@Model.Isbn" />
                <button class="btn btn-primary">Reservar este livro</button>
            </form>
        </div>
    </div>
    <div class="col-12 card">
    <h4>Descrição</h4>
    @Model.Description
    </div>
</section>
@section SearchForm {
    @Html.Partial("~/Features/BookCatalog/SearchForm.cshtml")
}