@model IEnumerable<Library.Features.BookCatalog.DomainModel.Book>

<main>
    <div class="container">
        <div class="col-8 mb-4 mt-4">
            <h1>Minhas Reservas</h1>
        </div>
        <section class="mt-4 row ">
            @foreach(var book in Model)
            {
                <div class="col-3.5 mb-4 mt-4">
                    <div class="card" style="width: 20rem; height: 25.9rem;">
                        <img class="card-img-top " src="@book.Cover" alt="Card image cap" style="width: 320px;">
                    </div>
                </div>
                <div class="col-5 mb-4 mt-4">
                    <div class="card" style="width: 25rem; height: 26.5rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@book.Title</li>
                            <li class="list-group-item">Autor: @book.Author</li>
                            <li class="list-group-item">ISBN: @book.Isbn</li>
                            <li class="list-group-item"style="max-height: 21rem; overflow-y: scroll;"><h5>Descrição</h5>
                            @book.Description
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3.5 card mt-4" style="max-height: 100px">
                    <h4>Situação:</h4>
                    <p>Disponível para retirada até: 11/04/2017<amet class=""></amet></p>
                </div>
            }
        </section>
        <div class="row">
            <div class="col-12 text-center mt-5">
                <a href="#" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
    </div>
</main>
@section SearchForm {
    @Html.Partial("~/Features/BookCatalog/SearchForm.cshtml")
}